@model ProductoModel
@{
    ViewData["Title"] = "Alta de Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alta de Producto</h2>

<form asp-action="Create" asp-controller="Productos" class="form" >

    <label>Código</label>
    <input asp-for="Codigo" class="form-control" />

    <label>Descripción</label>
    <input asp-for="Descripcion" class="form-control" />

    <label>Cantidad</label>
    <input asp-for="Cantidad" class="form-control" />
    <br />
    <input type="submit" value="Guardar" class="btn btn-primary" />
    <a asp-action="Index">Volver</a>

</form>

@if (ViewBag.Error != null)
{
<script>
        alert("@Html.Raw(ViewBag.Error)");
        console.error("@ViewBag.ConsoleError");
</script>
}

@section Scripts{ 

    <script>

        $(".form").validate(
            {
                errorElement: "div",
                rules:
                {
                    Codigo:
                    {
                        required: true,
                        digits: true
                    },
                    Descripcion:
                    {
                        required: true                        
                    }

                },
                messages:
                {
                    Codigo:
                    {
                        required: "Debe ingresar un Código",
                        digits: "Solo se aceptan numeros"
                    },
                    Descripcion:
                    {
                        required: "Debe ingresar una cantidad"                        
                    }
                }
            });

    </script>

}
 
